<% @coupons.each do |c| %>
<ul>
  <li><%= link_to c.coupon_code, coupon_path(c) %> </li>
  <li><%= link_to c.store, coupon_path(c) %> </li>
  <li><%= link_to coupon_url(c), coupon_path(c) %> </li>
</ul>
<% end %>
