<h1>Coupon Form</h1>
<%= form_tag create_new_coupon_index_path(@coupon) do %>
  <label>Coupon Code:</label><br>
  <%= text_field_tag :coupon_code %><br>
 
  <label>Store:</label><br>
  <%= text_field_tag :store %><br>
 
  <%= submit_tag "Submit Coupon" %>
<% end %>